In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json

start_date = '20130429' # YYYYMMDD format
end_date = '20201126' # YYYYMMDD format
url = 'https://coinmarketcap.com/currencies/bitcoin/historical-data/?start=%s&end=%s' % (start_date,end_date)
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')
data_json = soup.find('script', id='__NEXT_DATA__', type='application/json')
data = json.loads(data_json.contents[0])
tmp = data['props']['initialState']['cryptocurrency']['ohlcvHistorical']['1']['quotes']

timestamp_tmp = []; open_tmp = []; close_tmp = []; low_tmp = []; high_tmp = []

for i in tmp:
    timestamp_tmp.append(i['quote']['USD']['timestamp'])
    open_tmp.append(i['quote']['USD']['open'])
    close_tmp.append(i['quote']['USD']['close'])    
    low_tmp.append(i['quote']['USD']['low'])  
    high_tmp.append(i['quote']['USD']['high'])  
    
df = pd.DataFrame(columns = ['Timestamp','Open','Close','Low','High'])
df['Timestamp'] = timestamp_tmp
df['Open'] = open_tmp
df['Close'] = close_tmp
df['Low'] = low_tmp
df['High'] = high_tmp

df.head()

                  Timestamp        Open       Close         Low        High
0  2013-04-29T23:59:59.999Z  134.444000  144.539993  134.000000  147.488007
1  2013-04-30T23:59:59.999Z  144.000000  139.000000  134.050003  146.929993
2  2013-05-01T23:59:59.999Z  139.000000  116.989998  107.720001  139.889999
3  2013-05-02T23:59:59.999Z  116.379997  105.209999   92.281898  125.599998
4  2013-05-03T23:59:59.999Z  106.250000   97.750000   79.099998  108.127998